.connection{
	background-image: url("${pageContext.request.contextPath}/resources/css/images/page1_img1.jpg");
	background-color: #d6e9f1;
}
.colorHeader{
  color: #fff;
  background-color: #337ab7;
  height:15px;
}
.space{
	height:50px;
}
.title{
	text-align:center;
}

.clearA{
	 clear: left;
	 display:inline-block;
}
.cadre{
	height:70px;
     width: 200px;
	border-radius:5px;
     margin-top:0px;
    padding: 0px;
    margin-left: 0px;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

 
.padding{
    padding: 30px;
    text-alin: center;
 }
.menu{
    background-color: #2f71a6;

 }