.connection{
	background-image: url("${pageContext.request.contextPath}/resources/css/images/page1_img1.jpg");
	background-color: #d6e9f1;
}
.colorHeader{
  color: #fff;
  background-color: #337ab7;
  height:15px;
}
.space{
	height:50px;
}
.title{
	text-align:center;
}
.cadre{
	height:300px;
     width: 300px;
	border-radius:5px;
     margin-top: 100px;
    padding: 0px;
    margin-left: 500px;
     z-index: 100;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.titleCo{
	
     background-color: #bce8f1;
    text-align:center;
        
}
.padding{
    padding: 20px 240px;
 }
.menu{
    background-color: #2f71a6;
 }